/* 1.1 - Base Styles */
html,body { margin: 0; padding: 0; border: 0; background-color:#fff}
html { font-size: 62.5%; -webkit-touch-callout:none; -webkit-text-size-adjust:none; -ms-text-size-adjust:100%; }

img {
    border: 0 none;
    display:block;
    max-width: 100%;
}
section {display:block}
h1, h2, h3, h4, h5, h6 {Arial,Helvetica,sans-serif; margin:0; font-weight:normal}
.thin {font-weight:300}
.bold {font-weight:700}
.caps {text-transform:uppercase;}

.blue {color:#476ca8}
.black {color:#476ca8}
.right {float:right}
.left {float:left}
h1 {
	color:#476ca8;
	font-size:1.6em;
	line-height:1.2em;
	font-weight:bold;
	margin-top:20px;
}
.home h1 {margin-top:0;}
.home #primary iframe .ytp-large-play-button {display:none !important;}
h2 {
	font-size:1.8em;
	line-height:1.5em
}
h3 {
	font-size:1.3em;
	font-weight:bold;
	line-height:1.2em
}
h4 {
	font-size:1.5em
}
h5 {font-size:1.2em}
p {
	font-family:Arial,Helvetica,sans-serif;
	font-size:1em;
	line-height:1.4em;
}
ul.check {padding-left:0}
ul.check li {
	background:url(images/check-mark.png) no-repeat 10px 4px;
	font-family:'Roboto Condensed',Arial,Helvetica,sans-serif;
	font-size:1.2em;
	line-height:1.6em;
	list-style:none;
	margin-bottom:10px;
	padding-left:40px;
}
/* 1.2 - Grid System */
.toolbar-wrapper { width: 100%; height: auto }

#transparency > .row:before, #transparency > .row:after  { content: ""; display: table; }
#transparency > .row:after { clear: both; }
#transparency > .row { zoom: 1; margin-bottom: 0px;}

.row { margin: 0 0 30px 0; }
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 { 
	display: block; 
	float: left; 
	margin: 0 15px;
}
.inner-left { margin-left: 0px !important; }
.inner-right { margin-right: 0px !important; }

.wrapper { width: 996px; margin: 0 auto; padding: 0 15px;  }
.toolbar { width: 996px; margin: 0 auto; }
.span1 { width: 53px; }
.span2 { width: 136px; }
.span3 { width: 219px; }
.span4 { width: 302px; } 
.span5 { width: 385px; }
.span6 { width: 468px; }
.span7 { width: 551px; }
.span8 { width: 634px; }
.span9 { width: 717px; }
.span10 { width: 800px; }
.span11 { width: 883px; }
.span12 { width: 966px; }

.span3.adaptive-grid {width: 219px;}
.span3.adaptive-grid:nth-child(6n+7) {clear: none;}
.span3.adaptive-grid:nth-child(4n+5) {clear: both;}

/* 1.3 - Helper classes */
.center {
	float:none;
	margin:0 auto
}
.left {float:left}
.right {float:right}

.row:before, .row:after, .clearfix:before, .clearfix:after {content:"\0020";display:block;height:0;visibility:hidden}
.clearfix:after, .row:after { clear:both; }
.clearfix, .row { zoom:1; }

.p0 { margin-bottom: 0px !important; }
.p5 { margin-bottom: 5px !important; }
.p10 { margin-bottom: 10px !important; }
.p15 { margin-bottom: 15px !important; }
.p20 { margin-bottom: 20px !important; }
.p25 { margin-bottom: 25px !important; }
.p30 { margin-bottom: 30px !important; }
.p40 { margin-bottom: 40px !important; }
.p50 { margin-bottom: 50px !important; }
.p60 { margin-bottom: 60px !important; }
.p80 { margin-bottom: 80px !important; }

.pt0 {margin-top:0 !important}
.pt20 { margin-top: 20px !important; }
.pt25 { margin-top: 25px !important; }
.pt30 { margin-top: 30px !important; }
.pt40 { margin-top: 40px !important; }
.pt50 { margin-top: 50px !important; }
.pt60 { margin-top: 60px !important; }
.pt100 { margin-top: 120px !important; }
.fr { float: right !important; }
.fl { float: left !important; }
.fn { float: none !important; }

.tr { text-align: right; }
.tl { text-align: left !important; }
.tc { text-align: center !important; }

.display-table { display: table; height: 100%; }
.display-table-cell { display: table-cell; vertical-align: middle; display:inline-block; }
.table { display: table; margin: 0 auto; }
.fixed { position: fixed; }

hr.divider { margin: 15px 0; background: #333; height: 1px; border: 0; }

.boxsized {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

p a {color:#476ca8;text-decoration:none;}
p a:hover {color:#835de7}

/* misc WP styles */
.line {
	background:url(images/h3-line.png) repeat-x left center;
	display:block;
	font-weight:bold;
	height:28px;
	margin-bottom:30px;
}
.line span {
	background-color:#f7f7f7;
	font-weight:bold;
	padding:3px 10px 3px 0;
}

.more {
	background:url(images/more-icon.png) no-repeat right center;
	padding-right:20px;
}



/* video list on home page */
#video-list .entry-content > p {display:none;}
#video-list article > div {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	height:240px;
	margin-bottom:44px;
}
#video-list article iframe {
	display:block;
	height:auto;
	width:100% !important;
}
#video-list article:hover > div > div.title {
	background-color:#e5e5e5;
}
#video-list article:hover > div > div.title a {
	color:#111;
}
#video-list article > .entry-content > * {display:none;}
#video-list article > .entry-content > iframe,
#video-list article > .entry-content > .title {
	display:block;
}
#video-list article > div > div.title {
	background:#eeeeee url(images/plus.png) no-repeat right bottom;
	border-bottom:1px solid #d5d5d5;
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	height:75px;
}
#video-list article > div > div.title a {
	color:#333;
	display:block;
	font-weight:bold;
	line-height:1.3em;
	padding:10px 30px 10px 10px;
	text-decoration:none
}

/* single post */
.single-post iframe {
	float:left;
	height:auto;
	min-height:300px;
	margin:0 30px 30px 0;
}
.single-post h1 {
	color:#476ca8;
	margin-bottom:20px;
}
.blog .entry-content ul,
.single-post .entry-content ul {
	float:left;
}
.blog .entry-content ul li,
.single-post .entry-content ul li {
	background:url(images/li-arrow.png) no-repeat left center;
	display:block;
	list-style:none;
	margin-bottom:5px;
	padding-left:20px;
}

/* lawcasts */
.blog .entry-content iframe {
	float:left;
	margin:0 30px 30px 0;
}

.blog h2 a {
	color:#476ca8;
	font-size:20px;
	text-decoration:none
}
.nav-previous a,
.nav-next a {
	color:#476ca8;
	text-decoration:none;
}

ul.rpwe-ul {padding-left:0;}
ul.rpwe-ul li {
	border-bottom:0;
	list-style:none;
	margin-bottom:5px;
	padding-bottom:0 !important;
}
ul.rpwe-ul li a {
	color:#fff;
	line-height:1.2em !important;
	text-decoration:none
}
/* Main Styles */

body { 
	background-color:#c2c2c2;
	color:#444; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px; 
	line-height: 1.4em;
	padding:50px 0; 
}

/* header */

#header .wrapper {
	background-color:#0d6292;
	padding:20px 15px;
}
#header .search {
	background:#fff url(images/search-icon.png) no-repeat left center;
	border:0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float:left;
	margin-top:10px;
	padding:9px 8px 9px 30px;
	width:210px
}
#header input[type="submit"] {
	background-color:#afc7d4;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border:0;
	cursor:pointer;
	float:left;
	margin-top:10px;
	padding:8px;
}
#header input[type="submit"]:hover {
	background-color:#95b2c3;
}
/* navigation*/
#menu-mobile {display:none}
#nav {
	height:38px;
	overflow:visible;
}
#nav > .wrapper {
	background-color:#d6dbc9;
	background: rgb(211,212,192); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(211,212,192,1) 0%, rgba(199,203,185,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,212,192,1)), color-stop(100%,rgba(199,203,185,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(211,212,192,1) 0%,rgba(199,203,185,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(211,212,192,1) 0%,rgba(199,203,185,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(211,212,192,1) 0%,rgba(199,203,185,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(211,212,192,1) 0%,rgba(199,203,185,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d4c0', endColorstr='#c7cbb9',GradientType=0 ); /* IE6-9 */
}
#nav ul {padding-left:0}
#nav > div > div > ul > li {
	background: rgb(211,212,192); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(211,212,192,1) 0%, rgba(199,203,185,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,212,192,1)), color-stop(100%,rgba(199,203,185,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(211,212,192,1) 0%,rgba(199,203,185,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(211,212,192,1) 0%,rgba(199,203,185,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(211,212,192,1) 0%,rgba(199,203,185,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(211,212,192,1) 0%,rgba(199,203,185,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d4c0', endColorstr='#c7cbb9',GradientType=0 ); /* IE6-9 */
	border-right:1px solid #b4b7a6;
	display:block;
	float:left;
	position:relative;
}
#nav ul li ul {
	background:#d3d4c0;
	display:none;
	left:0px;
	position:absolute;
	top:36px;
	z-index:10000;
	width:100%;
}
#nav ul li:hover ul {
	display:block;
}
#nav ul li ul li {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	border-right:0;
	display:block;
	padding:0 5px;
	vertical-align:middle;
	z-index:10000;
	width:100%;
}
#nav ul li ul li a {
	font-weight:normal;
	font-size:14px;
	padding:7px;
}
#nav a:hover {
	text-decoration:underline
}
#nav ul li a {
	color:#302f2f;
	display:block;
	font-size:14px;
	font-weight:bold;
	padding:9px 15px;
	text-decoration:none
}

.socials {padding:5px 0 0}
.socials a {
	display:inline-block
}


/* main content area */

#main .wrapper {
	background-color:#f7f7f7;
	padding:30px 15px
}

/* footer */

#footer .wrapper {
	background-color:#151515;
	color:#fff;
	margin-top:10px;
	padding: 30px 15px;
}

#footer h3.widget-title {
	background:url(images/footer-h3-bg.png) no-repeat left center;
	font-size:1.1em;
	padding-left:20px;
}
.really_simple_twitter_widget {padding-left:0;}
.really_simple_twitter_widget li {
	background:url(images/tweet-quote.png) no-repeat left 3px;
	font-size:12px;
	list-style:none;
	margin-bottom:10px;
	padding-left:20px;
}
.really_simple_twitter_widget li a {color:#828282;}
.really_simple_twitter_widget .twitter-timestamp {
	color:#828282;
	display:block;
}
/* 2.1 Sections */

ul.forms {
	padding-left:0;
}
ul.forms li {
	list-style:none;
	margin-bottom:8px;
}
.forms input[type="text"],
.forms input[type="email"],
.forms textarea {
	background-color:#222222;
	border:1px solid #292929;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	color:#fff;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:7px;
	width:100%;
}
.forms input[type="text"]:focus,
.forms input[type="email"]:focus,
.forms textarea:focus {
	border:1px solid #373737;
}
.forms input[type="submit"] {
	background-color:#222222;
	border:1px solid #292929;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	color:#fff;
	cursor:pointer;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:7px 10px;
	width:auto;
}
.forms input[type="submit"]:hover {
	background-color:#333;
	border:1px solid #434343;
}
.forms textarea {height:120px;}

.btn {
	background-color:#7751dc;
	color:#fff;
	cursor:pointer;
	display:block;
	font-family:'Oswald','Din','Univers',Arial,Helvetica,sans-serif;
	font-size:1.3em;
	margin:10px 0 40px;
	padding:10px 15px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
.btn:hover {background-color:#835de7;}
.btn:visited {background-color:#6c48cb;}
.mobileshow {display:none}
.mobilehide {display:block}

/* form validation overrides */

div.wpcf7-response-output {
	border:0 !important;
	margin:10px 0 !important;
	padding:0 !important;
}
div.wpcf7 img.ajax-loader {
	float:left !important;
	margin:10px 0 0 10px !important;
}

/* search results */
.search-results #main > article {
	border-bottom:1px solid #bbb;
	margin-bottom:30px;
	padding-bottom:30px;
}
.search-results #main > article h2 a {
	color:#476ca8;
	font-size:18px;
}


@media only screen and (min-width: 768px) and (max-width: 1026px) {
	.wrapper, .toolbar { width:768px; }
	.span1 { width:34px; }
	.span2 { width:92px; }
	.span3 { width:162px; }
	.span4 { width:226px; }
	.span5 { width:290px; }
	.span6 { width:354px; }
	.span7 { width:418px; }
	.span8 { width:482px; }
	.span9 { width:546px; }
	.span10 { width:610px; }
	.span11 { width:674px; }
	.span12 { width:738px; }
	.forms li.span4,
	.forms li.span3 {width:100%}
	.forms li {margin-bottom:6px}
	#header .search {
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
		display:block;
		float:left;
		width:60%;

	}
	#header input[type="submit"] {
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
		display:block;
		float:left;
		width:30%;

	}
}


/* 4.4 - Mobile Landscape */
@media only screen and (min-width: 510px) and (max-width: 629px) {
	.mobilehide {display:none}
	.mobileshow {display:block}
	.mobile-wrapper {display: block;}
	section#nav { display:none; }
	nav.mobile, .menu-icon { display: block; }
	nav.mobile { padding: 0; }

	.logo { margin: 0 auto; float: none; text-align: center; }
	.toolbar .search-field { display: none; }
	.wrapper, .toolbar { width:480px; font-size:0.8em }
	.span1 { width:10px; }
	.span2 { width:50px; }
	.span3 { width:90px; }
	.span4 { width:130px; }
	.span5 { width:170px; }
	.span6 { width:450px; }
	.span7 { width:250px; }
	.span8 { width:290px; }
	.span9 { width:330px; }
	.span10 { width:370px; }
	.span11 { width:410px; }
	.span12 { width:450px; }
	.toolbar {width: 100%; padding: 0 40px; box-sizing: border-box;}

	.pt20 { margin-top:10px !important; }
	.pt25 { margin-top:10px !important; }
	.pt30 { margin-top:10px !important; }
	.pt40 { margin-top:10px !important; }
	.pt50 { margin-top:10px !important; }
	.pt60 { margin-top:10px !important; }
	.tl, .tr {text-align:center !important}
	iframe {
		width:100%;
	}
	#header .search {
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
		display:block;
		float:left;
		width:60%;

	}
	#header input[type="submit"] {
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
		display:block;
		float:left;
		width:30%;

	}
}

/* 4.5 - Mobile Portrait */
@media only screen and (max-width: 509px){
	.mobilehide {display:none !important}
	.mobileshow {display:block}
	.right {float:none}
	.left {float:none}
	.mobile-wrapper {display: block;}
	body {padding:0;}
	section#nav { display:none; }
	nav.mobile, .menu-icon { display: block; }
	nav.mobile { padding: 0; }
	.wrapper { padding: 0;  font-size:0.8em}
	#main .wrapper,
	#header .wrapper, 
	#footer .wrapper {padding:20px 0;}
	.wrapper, .toolbar { width:100%;padding:0; }
	.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12, .span4.logo-wrapper { width:90%; } 
	.pt20 { margin-top: 10px !important; }
	.pt25 { margin-top: 10px !important; }
	.pt30 { margin-top: 10px !important; }
	.pt40 { margin-top: 10px !important; }
	.pt50 { margin-top: 10px !important; }
	.pt60 { margin-top: 10px !important; }
	.tl, .tr {text-align:center !important}
	#menu-primary {display:none;}
	#header .search {
		display:block;
		float:left;
		width:60%;
	}
	#header input[type="submit"] {
		display:block;
		float:left;
		width:27%;
	}
	iframe {
		width:100%;
	}
	.menu-primary-container {padding-top:10px;}
	.jquery-responsive-select-menu {
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
		display:block !important;
		padding:7px;
		margin:0 2%;
		width:95%;
	}
}
